In [1]:
import pandas as pd

In [2]:
#Data rekam medik
anemia = pd.read_csv('rekmed.csv', sep=",")
anemia= anemia.drop(anemia.columns[0], axis=1)
anemia.head(20)

,reference_type,registration_no,test_name,result,reference_value,test_units_name,greaterthan_value,lessthan_value,register_date,code,descriptions,gender
0,IN,19525,Glukosa Darah Puasa,97,< 100,mg/dL,0,100,07/11/17 01.34,K30,Functional dyspepsia,2
1,IN,19525,Hb-A1c,"9,4",< 6.5,%,0,"6,5",07/11/17 01.34,K30,Functional dyspepsia,2
2,IN,19525,Glukosa Darah 2 jam PP,221,76 - 140,mg/dL,76,"140,0001",07/11/17 01.34,K30,Functional dyspepsia,2
3,IN,19989,Eritrosit,"4,45",3.8 - 5.2,106/µL,"3,8","5,2001",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
4,IN,19989,MCH,"28,3",27.0 - 31.0,pg,27,"31,1",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
5,IN,19989,MCHC,34,32.0 - 36.0,g %,32,"36,1",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
6,IN,19989,MCV,"83,4",82.0 - 92.0,fL,82,"92,1",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
7,IN,19989,Hematokrit,"37,1",38 - 44,%,38,"44,00001",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
8,IN,19989,Hemoglobin,"12,6",12.0 - 16.0,g/dL,12,"16,1",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
9,IN,19989,Leukosit,"4,95",3.6 - 11.0,10³/µL,"3,6","11,0001",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
10,IN,19989,Basofil,"1,6",0 - 1,%,0,"1,0001",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
11,IN,19989,Eosinofil,3,06-Jan,%,1,"6,0001",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
12,IN,19989,Monosit Absolut,"0,59",0.2 - 0.4,10³/µL,"0,2","0,41",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
13,IN,19989,Trombosit,91,150 - 440,10³/µL,150,"440,0001",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
14,IN,19989,RDW-CV,"12,8",11.0 - 15.5,%,11,"15,501",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
15,IN,19989,Limfosit,"67,1",20 - 40,%,20,41,13/11/17 01.27,A91,Dengue hemorrhagic fever,2
16,IN,19989,Monosit,"11,9",08-Feb,%,2,"8,001",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
17,IN,19989,Neutrofil Absolut,"0,81","2,7 - 6,5",10³/µL,"2,7","6,51",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
18,IN,19989,Limfosit Absolut,"3,32",1.5 - 3.7,10³/µL,"1,5","3,71",13/11/17 01.27,A91,Dengue hemorrhagic fever,2
19,IN,19989,PDW,"16,3",9.6 - 15.2,fL,"9,6","15,21",13/11/17 01.27,A91,Dengue hemorrhagic fever,2

In [3]:
#Data Lab
data1 = pd.read_excel('lab.xlsx')
data1.head(30)

,REG_NO,REG_DATE,TEST_NAME,RESULT,TEST_FLAG_NAME,TEST_GROUP_NAME,REF_RANGE,DESCRIPTION
0,1902010008,01/02/2019 06:06:35,MVP,NaN,NaN,HEMATOLOGI,9.2 - 12.0,Anemia
1,1902010008,01/02/2019 06:06:35,RDW SD,35.40,Low,HEMATOLOGI,39 - 46,Anemia
2,1902010008,01/02/2019 06:06:35,Netrofil Segmen (Diff),88.1,High,HEMATOLOGI,50 - 70,Anemia
3,1902010008,01/02/2019 06:06:35,PDW,----,Normal,HEMATOLOGI,9.6 - 15.2,Anemia
4,1902010008,01/02/2019 06:06:35,Limfosit Absolut (Diff),0.21,Normal,HEMATOLOGI,1.5 - 3.7,Anemia
5,1902010008,01/02/2019 06:06:35,Neutrofil Absolut (Diff),3.05,Normal,HEMATOLOGI,"2,7 - 6,5",Anemia
6,1902010008,01/02/2019 06:06:35,Eosinofil Absolut (Diff),0.00,Normal,HEMATOLOGI,0 - 0.10,Anemia
7,1902010008,01/02/2019 06:06:35,Basofil Absolut (Diff),0.00,Normal,HEMATOLOGI,"0 - 0,1",Anemia
8,1902010008,01/02/2019 06:06:35,Hitung Jenis (Diff),NaN,NaN,HEMATOLOGI,NaN,Anemia
9,1902010008,01/02/2019 06:06:35,Trombosit (Hema),26,X Low,HEMATOLOGI,150 - 440,Anemia
10,1902010008,01/02/2019 06:06:35,RDW (Sebaran Ukuran Eritrosit ),14.2,Normal,HEMATOLOGI,11.0 - 15.5,Anemia
11,1902010008,01/02/2019 06:06:35,Monosit Absolut (Diff),0.20,Normal,HEMATOLOGI,0.2 - 0.4,Anemia
12,1902010008,01/02/2019 06:06:35,Monosit (Diff),5.8,Normal,HEMATOLOGI,2 - 8,Anemia
13,1902010008,01/02/2019 06:06:35,Limfosit (Diff),6.1,Low,HEMATOLOGI,20 - 40,Anemia
14,1902010008,01/02/2019 06:06:35,Eosinofil (Diff),0.00,Low,HEMATOLOGI,1 - 6,Anemia
15,1902010008,01/02/2019 06:06:35,Basofil (Diff),0.0,Normal,HEMATOLOGI,0 - 1,Anemia
16,1902010008,01/02/2019 06:06:35,Lekosit (Hema),3.46,Low,HEMATOLOGI,3.8 - 10.6,Anemia
17,1902010008,01/02/2019 06:06:35,Hemoglobin (Hema),6.4,NaN,HEMATOLOGI,14.0 - 17.0,Anemia
18,1902010008,01/02/2019 06:06:35,Hematokrit (Hema),18.60,X Low,HEMATOLOGI,43 - 49,Anemia
19,1902010008,01/02/2019 06:06:35,MCV (Nilai Eritrosit rata-rata),72.40,Low,HEMATOLOGI,82.0 - 92.0,Anemia
20,1902010008,01/02/2019 06:06:35,MCHC (Nilai Eritrosit rata-rata),34.40,Normal,HEMATOLOGI,32.0 - 36.0,Anemia
21,1902010008,01/02/2019 06:06:35,MCH (Nilai Eritrosit rata-rata),24.90,Low,HEMATOLOGI,27.0 - 31.0,Anemia
22,1902010008,01/02/2019 06:06:35,Eritrosit (Hema),2.57,Low,HEMATOLOGI,4.4 - 5.9,Anemia
23,1902010009,01/02/2019 06:07:20,MVP,12.2,High,HEMATOLOGI,9.2 - 12.0,NaN
24,1902010009,01/02/2019 06:07:20,RDW SD,35.60,Low,HEMATOLOGI,39 - 46,NaN
25,1902010009,01/02/2019 06:07:20,Netrofil Segmen (Diff),32.6,NaN,HEMATOLOGI,50 - 70,NaN
26,1902010009,01/02/2019 06:07:20,PDW,13.6,Normal,HEMATOLOGI,9.6 - 15.2,NaN
27,1902010009,01/02/2019 06:07:20,Limfosit Absolut (Diff),1.42,Normal,HEMATOLOGI,1.5 - 3.7,NaN
28,1902010009,01/02/2019 06:07:20,Neutrofil Absolut (Diff),0.94,Normal,HEMATOLOGI,"2,4 - 7,3",NaN
29,1902010009,01/02/2019 06:07:20,Eosinofil Absolut (Diff),0.03,Normal,HEMATOLOGI,0 - 0.10,NaN

In [4]:
#Data Kaggle
data2 = pd.read_excel('data.xlsx')
data2=data2[data2.IDENTIFICATION == 'Anemia']
data2.rename(columns={ 'LAB_TEST':'TEST_NAME',
                        'NO':'REG_NO',
                        'REFERENCE_INTERVAL':'REF_RANGE',
                        'IDENTIFICATION':'DESCRIPTION'}, 
                 inplace=True)
data2=data2.drop(columns='GENDER')
data2.insert(3, "TEST_FLAG_NAME", True)

TEST_FLAG_NAME = []
for data in data2.values:
    range = data[4].split(' - ')
    if float(data[2]) < float(range[0]):
        TEST_FLAG_NAME.append("Low")
    elif float(data[2]) > float(range[1]):
        TEST_FLAG_NAME.append("High")
    else :
        TEST_FLAG_NAME.append("Normal")
data2['TEST_FLAG_NAME'] = TEST_FLAG_NAME
data2

            REG_NO   TEST_NAME  RESULT TEST_FLAG_NAME    REF_RANGE DESCRIPTION
12     20170407179  Hemoglobin    11.7            Low  13.5 - 17.5      Anemia
13     20170407179         MCH    26.3            Low  27.0 - 31.0      Anemia
14     20170407179        MCHC    30.0            Low  32.0 - 36.0      Anemia
15     20170407179         MCV   107.4           High  80.0 - 95.0      Anemia
16     20171911071  Hemoglobin    11.1            Low  12.0 - 16.0      Anemia
...            ...         ...     ...            ...          ...         ...
44495  20203101107         MCV   108.2           High  80.0 - 95.0      Anemia
44500  20203101139  Hemoglobin    13.1            Low  13.5 - 17.5      Anemia
44501  20203101139         MCH    18.9            Low  27.0 - 31.0      Anemia
44502  20203101139        MCHC    30.0            Low  32.0 - 36.0      Anemia
44503  20203101139         MCV    85.0         Normal  80.0 - 95.0      Anemia

[20564 rows x 6 columns]

In [5]:
print(anemia["descriptions"].unique())

['Functional dyspepsia' 'Dengue hemorrhagic fever'
 'Sepsis, unspecified organism'
 'Malignant neoplasm of unspecified part of bronchus or lung'
 'Chronic kidney disease, unspecified'
 'Chronic obstructive pulmonary disease, unspecified'
 'Juvenile arthritis, unspecified' 'Thyroiditis, unspecified'
 'Gastrointestinal hemorrhage, unspecified'
 'Chronic ischemic heart disease, unspecified' 'Pneumothorax, unspecified'
 'Emphysema, unspecified' 'Unspecified nephritic syndrome'
 'Type 2 diabetes mellitus without complications'
 'Stevens-Johnson syndrome' 'Anemia, unspecified'
 'Fracture of neck, unspecified'
 'Human immunodeficiency virus [HIV] disease'
 'Calculus of gallbladder without cholecystitis'
 'Encounter for full-term uncomplicated delivery' 'Typhoid fever'
 'Urinary tract infection, site not specified'
 'Bacterial sepsis of newborn, unspecified' 'Angina pectoris, unspecified'
 'Unspecified renal colic' 'Benign neoplasm of larynx' 'Corneal ulcer'
 'Hemiplegia, unspecified' 'Diffuse traumatic brain injury'
 'Female pelvic inflammatory disease, unspecified'
 'Encounter for cesarean delivery without indication' 'Heart failure'
 'Ileostomy status' 'Concussion'
 'Type 2 diabetes mellitus with circulatory complications'
 'Granulomatous disorder of the skin and subcutaneous tissue, unspecified'
 'Acute ischemic heart disease, unspecified'
 'Benign neoplasm of lower jaw bone'
 'Respiratory distress syndrome of newborn' 'Acute nephritic syndrome'
 'Encounter for observation for other suspected diseases and conditions ruled out'
 'Other and unspecified allergy'
 'Cellulitis and acute lymphangitis, unspecified'
 'Encounter for other postprocedural aftercare'
 'Pneumonia, unspecified organism'
 'Acquired coagulation factor deficiency' 'Other respiratory tuberculosis'
 'Pleural effusion, not elsewhere classified'
 'Malignant neoplasm of larynx, unspecified' "Parkinson's disease"
 'Acquired hemolytic anemia' 'Pancytopenia'
 'Benign neoplasm of bones of skull and face'
 'Polycystic kidney, unspecified' 'Benign neoplasm of bronchus and lung'
 'Unspecified jaundice'
 'Benign neoplasm of connective and other soft tissue, unspecified'
 'Unspecified mastoiditis' 'Acute kidney failure, unspecified'
 'Unspecified injury of head'
 'Nontraumatic intracerebral hemorrhage, unspecified'
 'Essential (primary) hypertension' 'Placenta previa' 'Anal fistula'
 'Disease of digestive system, unspecified'
 'Other specified disorders of tympanic membrane' 'Enlarged prostate'
 'Tuberculosis of bones and joints'
 'Spondylopathies in diseases classified elsewhere'
 'Convulsions of newborn' 'Chronic kidney disease, stage 5'
 'Gastritis, unspecified' 'Feeding difficulties'
 'Other and unspecified cirrhosis of liver' 'Pyothorax without fistula'
 'Neoplasm of uncertain behavior of trachea, bronchus and lung'
 'Respiratory failure, unspecified'
 'Other benign neoplasm of skin of ear and external auricular canal'
 'Other and unspecified encephalopathy'
 'Anemia in other chronic diseases classified elsewhere'
 'Traumatic subdural hemorrhage' 'Calculus of ureter'
 'Severe pre-eclampsia' 'Dengue fever [classical dengue]' 'Peritonitis'
 'Malignant neoplasm of ovary'
 'Malignant neoplasm of breast of unspecified site'
 'Disorder of central nervous system, unspecified'
 'Ventricular tachycardia' 'Other and unspecified asthma'
 'Retained placenta without hemorrhage' 'Fever, unspecified'
 'Other specified pleural conditions' 'Pemphigus vulgaris'
 'Unspecified hydronephrosis'
 'Infectious gastroenteritis and colitis, unspecified'
 'Other benign neoplasm of skin, unspecified' 'Volvulus'
 'Food poisoning. Bacterial foodborne intoxication, unspecified'
 'Compression of vein' "Cyst of Bartholin's gland"
 'Hydrocephalus, unspecified' 'Ectopic pregnancy, unspecified'
 'Splenomegaly, not elsewhere classified' 'Other abdominal pain'
 'Cardiogenic shock' 'Other acquired deformity of head'
 'Phlebitis and thrombophlebitis of other and unspecified deep vessels of lower extremities'
 'Spontaneous abortion' 'Nutritional marasmus' 'Unspecified appendicitis'
 'Leukemia, unspecified' 'Atrial fibrillation and flutter'
 'Cellulitis and abscess of mouth' 'Thyrotoxicosis, unspecified'
 'Aplastic anemia, unspecified'
 'Non-ST elevation (NSTEMI) myocardial infarction' 'Beta thalassemia'
 'Encephalitis and encephalomyelitis, unspecified'
 'Severe sepsis with septic shock' 'Cerebral infarction, unspecified'
 'Respiratory distress of newborn'
 'Other congenital malformations of gallbladder'
 'Chronic obstructive pulmonary disease with (acute) exacerbation'
 'Hydrocephalus' 'Pulmonary edema'
 'Intestinal adhesions [bands] with obstruction (postprocedural) (postinfection)'
 'Lymphangioma, any site' 'Abscess of lung without pneumonia'
 'Calculus of kidney' 'Type 2 diabetes mellitus'
 'Chronic kidney disease (CKD)'
 'Type 2 diabetes mellitus with other specified complications'
 'Other specified disorders of urinary system'
 'Enlarged prostate with lower urinary tract symptoms'
 'Hypertensive heart disease' 'Heart failure, unspecified'
 'Pleural effusion in other conditions classified elsewhere'
 'Bronchiectasis with (acute) exacerbation' 'Inguinal hernia'
 'Cor pulmonale (chronic)' 'Melena'
 'Incomplete spontaneous abortion without complication'
 'Acquired hemolytic anemia, unspecified'
 'Systemic lupus erythematosus, unspecified' 'Peritoneal abscess'
 'Encephalopathy, unspecified' 'Epidural hemorrhage'
 'Maternal care for scar from previous cesarean delivery'
 'Otitis media, unspecified, unspecified ear'
 'Bronchitis, not specified as acute or chronic'
 'Benign neoplasm of connective and other soft tissue of thorax'
 'Fracture of clavicle' 'Other cerebral infarction' 'Cerebral cysts'
 'Bronchopneumonia, unspecified organism'
 'Peritoneal adhesions (postprocedural) (postinfection)'
 'Type 2 diabetes mellitus with diabetic nephropathy' 'Nephrotic syndrome'
 'Dehydration'
 'Neoplasm of uncertain behavior of connective and other soft tissue'
 'Chronic lymphocytic leukemia of B-cell type'
 'Thrombocytopenia, unspecified'
 'Type 2 diabetes mellitus with diabetic chronic kidney disease'
 'Antiphospholipid syndrome' 'Hypertrophy of tonsils'
 'Acute nephritic syndrome with unspecified morphologic changes'
 'Angina pectoris' 'Hypertensive heart disease with heart failure'
 'Rheumatic heart disease, unspecified'
 'Atherosclerotic heart disease of native coronary artery'
 'Contusion and laceration of cerebrum, unspecified' 'Cholelithiasis'
 'Acute appendicitis' 'Typhoid fever, unspecified'
 'Bronchiectasis, uncomplicated' 'Presence of urogenital implants'
 'Obstruction of bile duct'
 'Congenital absence, atresia and stenosis of large intestine' 'Epistaxis'
 'Other specified diseases of liver' 'Cholecystitis, unspecified'
 'Leiomyoma of uterus, unspecified'
 'Blighted ovum and nonhydatidiform mole' 'Fall down embankment (hill)'
 'Abnormal uterine and vaginal bleeding, unspecified' 'Unstable angina'
 'Tuberculous meningitis' 'Cardiac arrest, cause unspecified'
 'Malignant neoplasm of unspecified part of unspecified bronchus or lung'
 'Hypertensive heart and chronic kidney disease with heart failure and with stage 5 chronic kidney disease, or end stage renal disease'
 'Other sepsis' 'Osteomyelitis' 'Maternal care for unstable lie'
 'Foreign body on external eye, part unspecified'
 'Distal interphalangeal psoriatic arthropathy'
 'Acute lymphadenitis, unspecified' 'Unspecified injury of face and head'
 'Malignant neoplasm of colon, unspecified'
 'Malignant neoplasm of submandibular gland'
 'Intraoperative cerebrovascular infarction during other surgery' 'Colic'
 'Unspecified abdominal pain'
 'Nephrotic syndrome with unspecified morphologic changes'
 'Cerebral ischemia' 'Cerebral infarction'
 'Other and unspecified cysts of jaw' 'Congenital pneumonia, unspecified'
 'Immune thrombocytopenic purpura'
 'Unspecified abnormal involuntary movements' 'Unspecified malaria'
 'Post-traumatic hydrocephalus, unspecified' 'Ectopic pregnancy'
 'Tuberculosis of lung' 'Chronic kidney disease, stage 4 (severe)'
 'Pericardial effusion (noninflammatory)' 'Hypothyroidism, unspecified'
 'Tuberculous peripheral lymphadenopathy' 'Malignant neoplasm of gum'
 'Aphakia' 'Hypoglycemia, unspecified'
 'Malignant neoplasm of bronchus and lung' 'Malignant neoplasm of rectum'
 'Malignant neoplasm of brain, unspecified'
 'Salmonella infection, unspecified' 'Viral infection, unspecified'
 'Acute nasopharyngitis [common cold]' 'Fourth degree hemorrhoids'
 'Burn of unspecified body region, unspecified degree'
 'Benign neoplasm of mediastinum' 'Amebiasis' 'Ascariasis, unspecified'
 'Hypokalemia'
 'Unilateral femoral hernia, without obstruction or gangrene'
 'First degree hemorrhoids' 'Urticaria' 'Cough'
 'Skin graft (allograft) rejection' 'Benign neoplasm of nasopharynx'
 'Cystocele, unspecified' 'Incomplete uterovaginal prolapse'
 'Injury of liver' 'Hemothorax'
 'Calculus of bile duct without cholangitis or cholecystitis without obstruction'
 'Other intestinal malabsorption'
 'Nontraumatic intracerebral hemorrhage, intraventricular'
 'Scar conditions and fibrosis of skin' 'Atrial septal defect'
 'Patent ductus arteriosus' 'Uterovaginal prolapse, unspecified'
 'Vomiting, unspecified' 'Hematuria, unspecified'
 'Hydronephrosis with renal and ureteral calculous obstruction'
 'Calculus in bladder' 'Disruption of wound, not elsewhere classified'
 'Meningeal tuberculoma' 'Bacterial meningitis, unspecified'
 'Malignant neoplasm of nasal cavity'
 'Disseminated intravascular coagulation [defibrination syndrome]'
 'Intussusception' 'Compression of brain' 'Otitis media, unspecified'
 'Hypertensive chronic kidney disease with stage 1 through stage 4 chronic kidney disease, or unspecified chronic kidney disease'
 'Chronic myeloproliferative disease' 'Chronic rhinitis'
 'Varicose veins of lower extremities with other complications'
 'Deviated nasal septum' 'Constipation' 'Unspecified viral hepatitis B'
 'Acute respiratory distress syndrome'
 'Disruption of external operation (surgical) wound, not elsewhere classified'
 'Cerebral infarction due to unspecified occlusion or stenosis of unspecified cerebral artery'
 'Nasal polyp, unspecified' 'Varicella [chickenpox]'
 'Malignant neoplasm of unspecified ovary' 'Malignant neoplasm of bladder'
 'Typhoid fever with other complications'
 'Malignant neoplasm of nasopharynx, unspecified'
 'Malignant (primary) neoplasm, unspecified' 'Other peripheral vertigo'
 'Other  specified congenital deformities of feet'
 'Malignant neoplasm of unspecified kidney, except renal pelvis'
 'Phimosis' 'Calculus of kidney with calculus of ureter'
 'Late metabolic acidosis of newborn' 'Anal abscess'
 'Fracture of base of skull' 'Cyst of kidney, acquired'
 'Hypo-osmolality and hyponatremia' 'Cleft palate, unspecified'
 'Other disorders of urinary system'
 'Acute leukemia of unspecified cell type not having achieved remission'
 'Benign neoplasm of connective and other soft tissue of abdomen'
 'Impacted teeth' 'Fracture of alveolus of maxilla'
 'Benign neoplasm of breast' 'Complex febrile convulsions'
 'Unspecified viral hepatitis' 'Hemangioma'
 'Unilateral inguinal hernia, without obstruction or gangrene'
 'Iron deficiency anemia, unspecified'
 'Presence of tooth-root and mandibular implants' 'Spinal stenosis'
 'Hypotension' 'Ulcerative colitis' 'Chronic sinusitis, unspecified'
 'Intracranial abscess and granuloma' 'Unspecified chronic gastritis'
 'Traumatic amputation of lower leg' 'Cleft lip, unilateral' 'Asthma'
 'Chronic tonsillitis' 'Acute abdomen' 'Meningitis, unspecified'
 'Encephalitis, myelitis and encephalomyelitis, unspecified'
 'Acute tonsillitis, unspecified' 'Cholera'
 'Cholera due to Vibrio cholerae 01, biovar eltor' 'Cholera, unspecified'
 'Acute pharyngitis' 'Congenital cataract'
 'Chronic systolic (congestive) heart failure'
 'Panic disorder [episodic paroxysmal anxiety] without agoraphobia'
 'Hemorrhage in early pregnancy' 'Atherosclerosis'
 'Secondary hypertension' 'Embedded teeth'
 'Acute systolic (congestive) heart failure'
 'Allergic rhinitis due to pollen'
 'Fracture of malar, maxillary and zygoma bones' 'Acute lymphadenitis'
 'Chronic ischemic heart disease'
 'Supervision of other high risk pregnancies' 'Effusion of joint'
 'Benign paroxysmal vertigo' 'Gout' 'Systolic (congestive) heart failure'
 'Lesion of plantar nerve' 'Omsk hemorrhagic fever'
 'Malignant mast cell tumor' 'Acute sinusitis' 'Pure hyperglyceridemia'
 'Sensorineural hearing loss, bilateral'
 'Type 2 diabetes mellitus with other skin ulcer' 'Hemoptysis'
 'Thyrotoxicosis [hyperthyroidism]'
 'Other and unspecified disorders of nose and nasal sinuses' 'Presbyopia'
 'Inflammatory polyneuropathy' 'Gallstone ileus' 'Retained dental root'
 'Cholecystitis' 'Family history of stroke'
 'Other chronic obstructive pulmonary disease' 'Petrositis'
 'Other diseases of liver'
 'Unspecified cleft palate with unilateral cleft lip'
 'Other hyperlipidemia' 'Optic papillitis' 'Papilledema'
 'Folate deficiency anemia' 'Supervision of high risk pregnancy'
 'Epispadias' 'Migraine' 'Acute bronchitis' 'Palpitations' 'Spondylosis'
 'Otitis externa' 'Toxic liver disease' 'Low back pain'
 'Candidal stomatitis' 'Family history of other conditions'
 'Nonvenereal syphilis' 'Necrosis of pulp' 'Gingival enlargement'
 'Hyperlipidemia, unspecified' 'Q fever' 'Thyroiditis' 'Chronic sinusitis'
 'Iron deficiency anemia' 'Type 1 diabetes mellitus'
 'Benign neuroendocrine tumors' 'Typhus fever'
 'Noninfective gastroenteritis and colitis, unspecified' 'Spondylolysis'
 'Renovascular hypertension'
 'Secondary malignant neoplasm of unspecified site'
 'Acute respiratory failure, unspecified whether with hypoxia or hypercapnia'
 'Myalgia' 'Hypospadias' 'Flaccid hemiplegia' 'Intracranial injury'
 'Maternal malignant neoplasms, traumatic injuries and abuse classifiable elsewhere but complicating pregnancy, childbirth and the puerperium'
 'Hypertensive chronic kidney disease' 'Granulomatous prostatitis'
 'Secondary malignant neoplasm of skin'
 'Other benign neoplasms of connective and other soft tissue'
 'Budd-Chiari syndrome' 'Retention of urine, unspecified'
 'Urethral disorders in diseases classified elsewhere' 'Epidemic vertigo'
 'Dysmenorrhea, unspecified' 'Urethral fistula' 'Late pregnancy'
 'Neonatal jaundice, unspecified' 'Polyosteoarthritis' 'Ascariasis'
 'Paralytic ileus' 'Emotional disorders with onset specific to childhood'
 'Umbilical hernia without obstruction or gangrene'
 'Carcinoma in situ of skin' 'Atresia of bile ducts' 'Acute tonsillitis'
 'Weeks of gestation' 'Tinea cruris' 'Other appendicitis'
 'Chronic kidney disease, stage 2 (mild)' 'Spondylolisthesis'
 'Dizziness and giddiness' 'Cyst and mucocele of nose and nasal sinus'
 'Malignant neoplasm of occipital lobe'
 'Supervision of young multigravida'
 'Supervision of young primigravida and multigravida'
 'Supervision of young multigravida, second trimester'
 'Coronary artery aneurysm and dissection' 'Polyuria'
 'Fatty (change of) liver, not elsewhere classified'
 'Calculus of kidney and ureter' 'Acute cholecystitis' 'Ganglion'
 'Hyperemesis gravidarum with metabolic disturbance'
 'Primary spontaneous pneumothorax' 'Unspecified injury of thorax'
 'Acute coronary thrombosis not resulting in myocardial infarction'
 'Unspecified viral hemorrhagic fever' 'Contracture of joint'
 'Malignant neoplasm of pleura'
 'Generalized intra-abdominal and pelvic swelling, mass and lump'
 'Cerebellar stroke syndrome' 'Cutaneous abscess of chest wall'
 'Allergic rhinitis, unspecified' 'Adhesive capsulitis of right shoulder'
 'Neonatal hypomagnesemia'
 'Squamous cell carcinoma of skin of left ear and external auricular canal'
 'Late syphilis, latent' 'Malignant neuroendocrine tumors'
 'Sequelae of inflammatory and toxic polyneuropathies' 'Acute hepatitis B'
 'Congenital absence, atresia and stenosis of anus without fistula'
 'Malignant carcinoid tumors' "Bell's palsy"
 'Atherosclerosis of coronary artery bypass graft(s) and coronary artery of transplanted heart with angina pectoris'
 'Mild hyperemesis gravidarum' 'Typhoid and paratyphoid fevers'
 'Fistula of vagina to small intestine' 'Acute gingivitis'
 'Malignant neoplasm of tonsil' 'Ileus, unspecified'
 'Suppurative and unspecified otitis media' 'Malignant neoplasm of larynx'
 'Cerebrovascular disease, unspecified' 'Pain in unspecified shoulder'
 'Secondary amenorrhea' 'Other congenital malformations of intestine'
 'Varicose veins of lower extremities with ulcer' 'Pruritus'
 'Malignant neoplasm of other connective and soft tissue'
 'Benign endometrial hyperplasia' 'Superficial injury of head'
 'Secondary carcinoid tumors' 'Fistula of appendix'
 'Sprain of acromioclavicular joint' 'Fracture of mandible'
 'Acute tubulo-interstitial nephritis' 'Aphasia'
 'Personal history of sudden cardiac arrest'
 'Malignant neoplasm of ureteric orifice' 'Chronic viral hepatitis'
 'Unspecified abdominal hernia' 'Neonatal urinary tract infection'
 'Carpal tunnel syndrome' 'Unspecified pre-eclampsia, second trimester'
 'Incisional hernia without obstruction or gangrene' 'Cystitis'
 'Hemolytic-uremic syndrome' 'Leiomyoma of uterus'
 'Heatstroke and sunstroke' 'Non-working side interference'
 'Toxic gastroenteritis and colitis'
 'Acute appendicitis with generalized peritonitis'
 'Brazilian purpuric fever'
 'Anesthesiology devices associated with adverse incidents'
 'Missed abortion' 'Other specified pregnancy related conditions'
 'Chronic gout' 'Age-related physical debility'
 'Benign lipomatous neoplasm' 'Unspecified acute appendicitis'
 'Cutaneous abscess of foot' 'Traumatic rupture of ear drum'
 'Other disorders of electrolyte and fluid balance, not elsewhere classified'
 'Benign neoplasm of other major salivary glands' 'Diaphragmatic hernia'
 'Other and unspecified injuries of head'
 'Injury of muscle and tendon of head'
 'Gingivitis and periodontal diseases' 'Follicular lymphoma'
 'Pelvic varices' 'Toxoplasma chorioretinitis'
 'Benign neoplasm of prostate'
 'Acute appendicitis with localized peritonitis'
 'Malignant neoplasm of prostate'
 'Vascular headache, not elsewhere classified' 'Late syphilis'
 'Other and unspecified noninfective gastroenteritis and colitis'
 'Family history of mental and behavioral disorders' 'Down syndrome'
 'Transient neonatal myasthenia gravis'
 'Encounter for follow-up examination after completed treatment for conditions other than malignant neoplasm'
 'Metabolic encephalopathy'
 'Unilateral inguinal hernia, without obstruction or gangrene, not specified as recurrent'
 'Encounter for genetic counseling' 'Other hemorrhoids'
 'Crushing injury of head' 'Other specified diabetes mellitus'
 'Encounter for follow-up examination after completed treatment for malignant neoplasm'
 'Nonspecific lymphadenitis' 'Adenoviral meningitis'
 'Acute pharyngitis, unspecified' 'Malignant neoplasm of uvula'
 'Retrobulbar neuritis' 'Fibroadenosis of breast'
 'Malignant neoplasm of supraglottis' 'Acute gastritis'
 'Congenital malformation of heart, unspecified' 'Paranoid schizophrenia'
 'Malignant neoplasm of ureter' 'Open wound of ankle, foot and toes'
 'Sequelae of hyperalimentation'
 'Carcinoma in situ of skin of scalp and neck'
 'Epilepsy and recurrent seizures' 'Other cataract'
 'Fracture of lower end of tibia' 'Other birth injuries'
 'Nocardiosis, unspecified'
 'Generalized idiopathic epilepsy and epileptic syndromes'
 'Chronic diseases of tonsils and adenoids' 'Malignant neoplasm of colon'
 'ST elevation (STEMI) myocardial infarction involving left circumflex coronary artery'
 'Pressure ulcer of back' 'Malignant neoplasm of left main bronchus'
 'Follicular lymphoma grade II' 'Idiopathic aplastic anemia'
 'Eosinophilic cellulitis [Wells]' 'Heat syncope'
 'Acquired absence of bilateral breasts and nipples' 'Melanoma in situ'
 'Erythema nodosum' "Other diseases of Bartholin's gland"
 'Peripheral vascular disease, unspecified'
 'Acquired keratosis follicularis' 'Carcinoma in situ of colon'

In [6]:
print(data1["DESCRIPTION"].unique())

['Anemia' nan 'Iron deficiency Anemia' 'Folate deficiency Anemia']

In [7]:
print(data2["DESCRIPTION"].unique())

['Anemia']

In [8]:
anemia.dtypes

reference_type       object
registration_no       int64
test_name            object
result               object
reference_value      object
test_units_name      object
greaterthan_value    object
lessthan_value       object
register_date        object
code                 object
descriptions         object
gender                int64
dtype: object

In [9]:
#Data rekmed yg memiliki diagnosa anemia
df2 = anemia[anemia['descriptions'].str.contains('nemia')].copy()
df2

,reference_type,registration_no,test_name,result,reference_value,test_units_name,greaterthan_value,lessthan_value,register_date,code,descriptions,gender
231,IN,40161,Limfosit Absolut,"4,78",1.5 - 3.7,10³/µL,"1,5","3,71",14/11/17 11.09,D64.9,"Anemia, unspecified",1
232,IN,40161,Neutrofil Absolut,"3,53","1,9 - 5,4",10³/µL,NaN,NaN,14/11/17 11.09,D64.9,"Anemia, unspecified",1
233,IN,40161,Monosit,"6,2",08-Feb,%,1,"11,001",14/11/17 11.09,D64.9,"Anemia, unspecified",1
234,IN,40161,Limfosit,"51,8",20 - 40,%,20,71,14/11/17 11.09,D64.9,"Anemia, unspecified",1
235,IN,40161,RDW-CV,"19,1",11.0 - 15.5,%,11,"15,501",14/11/17 11.09,D64.9,"Anemia, unspecified",1
...,...,...,...,...,...,...,...,...,...,...,...,...
77342,OUT,40056,MCH,"27,7",27.0 - 31.0,pg,27,"31,1",04/07/18 16.26,D50,Iron deficiency anemia,2
77343,OUT,40056,Eritrosit,"3,39",3.8 - 5.2,106/µL,"3,8","5,2001",04/07/18 16.26,D50,Iron deficiency anemia,2
77344,OUT,40056,Eritrosit :,Normokrom Normositer,NaN,NaN,NaN,NaN,04/07/18 16.26,D50,Iron deficiency anemia,2
77345,OUT,40056,Lekosit :,Bentuk Normal,NaN,NaN,NaN,NaN,04/07/18 16.26,D50,Iron deficiency anemia,2
77346,OUT,40056,Trombosit :,Bentuk Normal,NaN,NaN,NaN,NaN,04/07/18 16.26,D50,Iron deficiency anemia,2

In [10]:
df2.test_name.unique()

array(['Limfosit Absolut', 'Neutrofil Absolut', 'Monosit', 'Limfosit',
       'RDW-CV', 'Retikulosit %', 'Eosinofil Absolut', 'Basofil Absolut',
       'Trombosit', 'Monosit Absolut', 'Eosinofil', 'Basofil', 'Leukosit',
       'Hemoglobin', 'Hematokrit', 'MCV', 'MCHC', 'MCH', 'Eritrosit',
       'Waktu Perdarahan', 'Kontrol', 'Pasien', 'Waktu Pembekuan', 'PDW',
       'Neutrofil Segmen', 'MPV', 'RDW-SD', 'Tes Coomb', 'O2 Saturasi',
       'pH', 'pO2', 'pCO2', 'HCO3', 'BE', 'Kalium (K)', 'Klorida (Cl)',
       'Kalsium Ion', 'Natrium (Na)', 'Kalsium (Ca)', 'Albumin',
       'Besi (Fe/iron)', 'Ferritin', 'TIBC', 'CRP Kualitatif',
       'Procalcitonin', 'Ureum', 'Kreatinin', 'Berat Jenis', 'Bilirubin',
       'Keton', 'Nitrit', 'Urobilinogen', 'Blood', 'Epitel', 'Silinder',
       'Kristal', 'Protein', 'Glukosa', 'Bakteri', 'Warna', 'Kejernihan',
       'Eritrosit :', 'Lekosit :', 'Trombosit :', 'Glukosa Darah Sewaktu',
       'D-dimer', 'Anti Dengue IgM', 'Anti Dengue IgG',
       'Glukosa Darah Puasa', 'Glukosa Darah 2 jam PP', 'Bilirubin Direk',
       'Bilirubin Total', 'Hb-A1c', 'Amoeba', 'Darah', 'Konsistensi',
       'Lendir', 'Telur Cacing', 'Nanah', 'Kista'], dtype=object)

In [11]:
#selected_features = ['Hemoglobin','MCV','MCHC', 'MCH', 'RDW-CV']
selected_features = ['Hemoglobin','MCV','MCHC', 'MCH']
dfx = df2[df2.test_name.isin(selected_features)].copy()
dfx.result = dfx.result.str.replace(',','.')
dfx

,reference_type,registration_no,test_name,result,reference_value,test_units_name,greaterthan_value,lessthan_value,register_date,code,descriptions,gender
244,IN,40161,Hemoglobin,11.7,14.0 - 17.0,g/dL,14,"17,1",14/11/17 11.09,D64.9,"Anemia, unspecified",1
246,IN,40161,MCV,71.4,70.0 - 85.0,fL,70,"85,1",14/11/17 11.09,D64.9,"Anemia, unspecified",1
247,IN,40161,MCHC,33.5,32.0 - 36.0,g %,32,"36,1",14/11/17 11.09,D64.9,"Anemia, unspecified",1
248,IN,40161,MCH,23.9,23.0 - 31.0,pg,23,"31,1",14/11/17 11.09,D64.9,"Anemia, unspecified",1
1703,IN,10007,Hemoglobin,13.5,12.0 - 16.0,g/dL,12,"16,1",21/11/17 08.45,D64.9,"Anemia, unspecified",2
...,...,...,...,...,...,...,...,...,...,...,...,...
72331,OUT,80007,Hemoglobin,6,12.0 - 16.0,g/dL,12,"16,1",08/05/18 11.55,D50,Iron deficiency anemia,2
77338,OUT,40056,Hemoglobin,9.4,12.0 - 16.0,g/dL,12,"16,1",04/07/18 16.26,D50,Iron deficiency anemia,2
77340,OUT,40056,MCV,81.1,82.0 - 92.0,fL,82,"92,1",04/07/18 16.26,D50,Iron deficiency anemia,2
77341,OUT,40056,MCHC,34.2,32.0 - 36.0,g %,32,"36,1",04/07/18 16.26,D50,Iron deficiency anemia,2
77342,OUT,40056,MCH,27.7,27.0 - 31.0,pg,27,"31,1",04/07/18 16.26,D50,Iron deficiency anemia,2

In [12]:
#Penyesuaian nama kolom data rekam medik
dfx['lower_ref'] = dfx['reference_value'].str.split('-').str[0]
dfx['upper_ref'] = dfx['reference_value'].str.split('-').str[1]
dfx[['result','lower_ref','upper_ref']] = dfx[['result','lower_ref','upper_ref']].astype(float)
dfx.loc[dfx['result'] < dfx['lower_ref'], 'test_flag'] = 'Low'
dfx.loc[dfx['result'] > dfx['upper_ref'], 'test_flag'] = 'High'
dfx.loc[(dfx['result'] <= dfx['upper_ref']) & (dfx['result'] >= dfx['lower_ref']), 'test_flag'] = 'Normal'
df = dfx[['registration_no','test_name','result','test_flag','reference_value','descriptions']].copy()
df.columns = data2.columns
df = df.reset_index()
df = df.drop(df.columns[0], axis=1)
df

,REG_NO,TEST_NAME,RESULT,TEST_FLAG_NAME,REF_RANGE,DESCRIPTION
0,40161,Hemoglobin,11.7,Low,14.0 - 17.0,"Anemia, unspecified"
1,40161,MCV,71.4,Normal,70.0 - 85.0,"Anemia, unspecified"
2,40161,MCHC,33.5,Normal,32.0 - 36.0,"Anemia, unspecified"
3,40161,MCH,23.9,Normal,23.0 - 31.0,"Anemia, unspecified"
4,10007,Hemoglobin,13.5,Normal,12.0 - 16.0,"Anemia, unspecified"
...,...,...,...,...,...,...
195,80007,Hemoglobin,6.0,Low,12.0 - 16.0,Iron deficiency anemia
196,40056,Hemoglobin,9.4,Low,12.0 - 16.0,Iron deficiency anemia
197,40056,MCV,81.1,Low,82.0 - 92.0,Iron deficiency anemia
198,40056,MCHC,34.2,Normal,32.0 - 36.0,Iron deficiency anemia
199,40056,MCH,27.7,Normal,27.0 - 31.0,Iron deficiency anemia

In [13]:
data1.TEST_NAME.unique()

array(['MVP', 'RDW SD', 'Netrofil Segmen (Diff)', 'PDW',
       'Limfosit Absolut (Diff)', 'Neutrofil Absolut (Diff)',
       'Eosinofil Absolut (Diff)', 'Basofil Absolut (Diff)',
       'Hitung Jenis (Diff)', 'Trombosit (Hema)',
       'RDW (Sebaran Ukuran Eritrosit )', 'Monosit Absolut (Diff)',
       'Monosit (Diff)', 'Limfosit (Diff)', 'Eosinofil (Diff)',
       'Basofil (Diff)', 'Lekosit (Hema)', 'Hemoglobin (Hema)',
       'Hematokrit (Hema)', 'MCV (Nilai Eritrosit rata-rata)',
       'MCHC (Nilai Eritrosit rata-rata)',
       'MCH (Nilai Eritrosit rata-rata)', 'Eritrosit (Hema)',
       'Retikulosit, hitung', 'IG (Diff)', 'IG Absolut (Diff)',
       'TC-BF# (Analisa Cairan Pleura)', 'PMN% (Analisa Cairan Pleura)',
       'MN% (Analisa Cairan Pleura)', 'PMN# (Analisa Cairan Pleura)',
       'MN# (Analisa Cairan Pleura)', 'RBC-RF (Analisa Cairan Pleura)',
       'WBC-RF (Analisa Cairan Pleura)', 'Free T4 (FT4)', 'CK-MB',
       'Laju Endap Darah (LED/BBS)', 'Kreatinin', 'Kontrol (PT)',
       'Pasien (PT)', 'Kontrol (APTT)', 'Saturasi O2 (Analisa gas darah)',
       'Ureum', 'Glukosa Darah (Sewaktu)', 'pH (Analisa Gas Darah)',
       'pO2 (Analisa Gas Darah)', 'pCO2 (Analisa gas darah)',
       'Bikarbonat (HCO3) (Analisa gas darah)',
       'Kelebihan Basa (BE) (Analisa gas darah)',
       'Total CO2 (analisa gas darah)', 'Pasien (APTT)',
       'Natrium (Na) - Serum', 'Klorida (Cl) - Serum',
       'Kalium (K) - Serum', 'Pasien (INR)', 'Troponin T',
       'Tes Kehamilan', 'Glukosa Darah (Puasa)', 'HbA1C',
       'Glukosa Darah (2 jam PP)', 'pH (Urine Lengkap)',
       'Berat Jenis (Urine Lengkap)', 'Bilirubin (Urine Lengkap)',
       'Keton (Urine Lengkap)', 'Nitrit (Urine Lengkap)',
       'Urobilinogen (Urine Lengkap)', 'Blood (Urine Lengkap)',
       'Makroskopik (Urine Lengkap)', 'Sedimen Urine (Urine Lengkap)',
       'Eritrosit Sedimen (Urine Lengkap) ', 'Epitel (Urine Lengkap)',
       'Silinder (Urine Lengkap)', 'Kristal (Urine Lengkap)',
       'Protein (Urine Lengkap)', 'Glukosa (Urine Lengkap)',
       'Bakteri (Urine Lengkap)', 'Leukosit Sedimen (Urine Lengkap)',
       'Kimia (Urine Lengkap)', 'Warna (Urine Lengkap)',
       'Kejernihan (Urine Lengkap)', 'Anti S. typhi IgM (Tubex)',
       'Warna (Analisa Cairan Otak)', 'LDH (Analisa Cairan Otak)',
       'Glukosa (Analisa Cairan Otak)', 'pH (Analisa Cairan Otak)',
       'Reaksi None (Analisa Cairan Otak)',
       'Reaksi Pandy (Analisa Cairan Otak)',
       'Protein (Analisa Cairan Otak)',
       'Kejernihan (Analisa Cairan Otak)', 'Bekuan (Analisa Cairan Otak)',
       'WBC-RF (Analisa Cairan Otak)', 'RBC-RF (Analisa Cairan Otak)',
       'MN# (Analisa Cairan Otak)', 'PMN# (Analisa Cairan Otak)',
       'MN% (Analisa Cairan Otak)', 'PMN% (Analisa Cairan Otak)',
       'Mikroskopik (Analisa Cairan Otak)',
       'TC-BF# (Analisa Cairan Otak)',
       'Hitung Jenis (Analisa Cairan Otak)',
       'Makroskopik (Analisa Cairan Otak)', 'Kimia (Analisa Cairan Otak)',
       'SGPT', 'SGOT', 'Kalsium (Ca)', 'Albumin', 'Golongan Darah (ABO)',
       'Rhesus (ABO)', 'Anti HIV', 'HBsAg', 'Kolesterol LDL',
       'Trigliserida', 'Kolesterol Total', 'Kolesterol HDL',
       'Blooding Time (BT)', 'Anti HCV', 'Asam Urat', 'D-dimer',
       'Eritrosit (GDT)', 'Lekosit (GDT)', 'Trombosit (GDT)', 'CEA',
       'Asam Laktat, Vena', 'MOR', 'M-AMP', 'THC', 'Anti HBs',
       'Clotting Time (CT)', 'Bilirubin Direk', 'Bilirubin Total', 'VDRL',
       'Anti HSV-2 IgM', 'Anti HSV-2 IgG', 'TPHA Kuantitatif', 'CA 125',
       'Fosfor Anorganik', 'Procalcitonin', 'Pasien (TT)', 'Kontrol (TT)',
       'ASTO', 'Rheumatoid Factor (RF)', 'Kokain (Cocaine)',
       'Metamphetamine', 'Benzodiazepin', 'CRP Kualitatif', 'PSA Total',
       'Pasien ( Fibrinogen )', 'LDH', 'Kontrol ( Fibrinogen )',
       'AFP (Alfa Feto Protein)', 'HBeAg', 'Anti HAV IgM', 'Kalsium Ion',
       'Warna (Analisa Cairan Pleura)', 'LDH (Analisa Cairan Pleura)',
       'Protein (Analisa Cairan Pleura)',
       'Glukosa (Analisa Cairan Pleura)', 'pH (Analisa Cairan Pleura)',
       'Hitung Jenis Sel (Analisa Cairan Pleura)',
       'Mikroskopik (Analisa Cairan Pleura)',
       'Makroskopik (Analisa Cairan Pleura)',
       'Kejernihan (Analisa Cairan Pleura)',
       'Bekuan (Analisa Cairan Pleura)',
       'Rivalta (Analisa Cairan Pleura)', 'Kimia (Analisa Cairan Pleura)',
       'BJ Cairan Pleura (Analisa Cairan Pleura)', 'TSH', 'Feritin',
       'Anti Dengue IgM', 'Anti Dengue IgG', 'Malaria',
       'Anti HIV (Rapid I)', 'Anti HIV (Rapid II)', 'T3 Total',
       'T4 Total', 'Free T3 (FT3)', 'Amoeba (TL)', 'Darah (TL)',
       'Eritrosit (TL)', 'Konsistensi (TL)', 'Lendir (TL)',
       'Lemak (Malabsorbsi)', 'Leukosit (TL)', 'Makroskopik (TL)',
       'Mikroskopik (TL)', 'Telur Cacing (TL)', 'Warna (TL)',
       'Nanah (TL)', 'Kista (TL)', 'Telur Ascaris (TL)',
       'Telur Ankylostoma (TL)', 'Telur Oxyuris (TL)',
       'Telur Trichuris (TL)', 'Amilum (TL)', 'Pencernaan (TL)',
       'Serat Tumbuhan (TL)', 'Serat Otot (TL)', 'Darah Samar Tinja',
       'Fosfatase alkali (ALP)', 'Magnesium (Mg)', 'Lain-lain (TL)',
       'Serum Iron ( SI )', 'TIBC - Besi daya ikat total',
       'Amilase serum', 'Lipase', 'ANA (Anti Nuclear Antibody)'],
      dtype=object)

In [14]:
#data1[data1.TEST_NAME.str.contains('RDW')]
data1

,REG_NO,REG_DATE,TEST_NAME,RESULT,TEST_FLAG_NAME,TEST_GROUP_NAME,REF_RANGE,DESCRIPTION
0,1902010008,01/02/2019 06:06:35,MVP,NaN,NaN,HEMATOLOGI,9.2 - 12.0,Anemia
1,1902010008,01/02/2019 06:06:35,RDW SD,35.40,Low,HEMATOLOGI,39 - 46,Anemia
2,1902010008,01/02/2019 06:06:35,Netrofil Segmen (Diff),88.1,High,HEMATOLOGI,50 - 70,Anemia
3,1902010008,01/02/2019 06:06:35,PDW,----,Normal,HEMATOLOGI,9.6 - 15.2,Anemia
4,1902010008,01/02/2019 06:06:35,Limfosit Absolut (Diff),0.21,Normal,HEMATOLOGI,1.5 - 3.7,Anemia
...,...,...,...,...,...,...,...,...
350636,1812180152,18/12/2018 21:50:18,Limfosit Absolut (Diff),2.07,Normal,HEMATOLOGI,1.5 - 3.7,Anemia
350637,1812180152,18/12/2018 21:50:18,PDW,----,Normal,HEMATOLOGI,9.6 - 15.2,Anemia
350638,1812180152,18/12/2018 21:50:18,Netrofil Segmen (Diff),43.6,Low,HEMATOLOGI,50 - 70,Anemia
350639,1812180152,18/12/2018 21:50:18,MVP,NaN,NaN,HEMATOLOGI,9.2 - 12.0,Anemia
350640,1812180152,18/12/2018 21:50:18,RDW SD,NaN,NaN,HEMATOLOGI,39 - 46,Anemia

In [15]:
#Penyesuaian nama kolom data lab
dfy = data1[data2.columns].copy()
dfy.loc[dfy.TEST_NAME.str.contains('Hemoglobin'),'TEST_NAME'] = 'Hemoglobin'
dfy.loc[dfy.TEST_NAME.str.contains('MCV'),'TEST_NAME'] = 'MCV'
dfy.loc[dfy.TEST_NAME == 'MCHC (Nilai Eritrosit rata-rata)','TEST_NAME'] = 'MCHC'
dfy.loc[dfy.TEST_NAME == 'MCH (Nilai Eritrosit rata-rata)','TEST_NAME'] = 'MCH'
#dfy.loc[dfy.TEST_NAME == 'RDW SD','TEST_NAME'] = 'RDW-SD'
#dfy.loc[dfy.TEST_NAME == 'RDW (Sebaran Ukuran Eritrosit )','TEST_NAME'] = 'RDW-CV'
dfy = dfy[dfy.TEST_NAME.isin(selected_features)].copy()
dfy['lower_ref'] = dfy['REF_RANGE'].str.split('-').str[0]
dfy['upper_ref'] = dfy['REF_RANGE'].str.split('-').str[1]
dfy[['RESULT','lower_ref','upper_ref']] = dfy[['RESULT','lower_ref','upper_ref']].astype(float)
dfy.loc[dfy['RESULT'] < dfy['lower_ref'], 'TEST_FLAG_NAME'] = 'Low'
dfy.loc[dfy['RESULT'] > dfy['upper_ref'], 'TEST_FLAG_NAME'] = 'High'
dfy.loc[(dfy['RESULT'] <= dfy['upper_ref']) & (dfy['RESULT'] >= dfy['lower_ref']), 'TEST_FLAG_NAME'] = 'Normal'
dfy = dfy[data2.columns]
dfy = dfy.reset_index()
dfy = dfy.drop(dfy.columns[0], axis=1)
dfy

           REG_NO   TEST_NAME  RESULT TEST_FLAG_NAME    REF_RANGE DESCRIPTION
0      1902010008  Hemoglobin     6.4            Low  14.0 - 17.0      Anemia
1      1902010008         MCV    72.4            Low  82.0 - 92.0      Anemia
2      1902010008        MCHC    34.4         Normal  32.0 - 36.0      Anemia
3      1902010008         MCH    24.9            Low  27.0 - 31.0      Anemia
4      1902010009  Hemoglobin    12.8            Low  14.0 - 17.0         NaN
...           ...         ...     ...            ...          ...         ...
56115  1812170108  Hemoglobin     6.4            Low  12.0 - 16.0      Anemia
56116  1812180152         MCH    18.3            Low  27.0 - 31.0      Anemia
56117  1812180152        MCHC    31.5            Low  32.0 - 36.0      Anemia
56118  1812180152         MCV    58.3            Low  82.0 - 92.0      Anemia
56119  1812180152  Hemoglobin     6.2            Low  12.0 - 16.0      Anemia

[56120 rows x 6 columns]

In [16]:
#Data lab yg memiliki diagnosa anemia
dfy = dfy[dfy['DESCRIPTION'].str.contains("Anemia", na=False)].copy()
dfy

           REG_NO   TEST_NAME  RESULT TEST_FLAG_NAME    REF_RANGE DESCRIPTION
0      1902010008  Hemoglobin     6.4            Low  14.0 - 17.0      Anemia
1      1902010008         MCV    72.4            Low  82.0 - 92.0      Anemia
2      1902010008        MCHC    34.4         Normal  32.0 - 36.0      Anemia
3      1902010008         MCH    24.9            Low  27.0 - 31.0      Anemia
64     1902010037  Hemoglobin     5.9            Low  12.0 - 16.0      Anemia
...           ...         ...     ...            ...          ...         ...
56115  1812170108  Hemoglobin     6.4            Low  12.0 - 16.0      Anemia
56116  1812180152         MCH    18.3            Low  27.0 - 31.0      Anemia
56117  1812180152        MCHC    31.5            Low  32.0 - 36.0      Anemia
56118  1812180152         MCV    58.3            Low  82.0 - 92.0      Anemia
56119  1812180152  Hemoglobin     6.2            Low  12.0 - 16.0      Anemia

[2876 rows x 6 columns]

In [17]:
dfy['TEST_NAME'].unique()

array(['Hemoglobin', 'MCV', 'MCHC', 'MCH'], dtype=object)

In [18]:
dataset = df.append(dfy)
dataset = dataset.append(data2)
dataset.DESCRIPTION.unique()

array(['Anemia, unspecified',
       'Anemia in other chronic diseases classified elsewhere',
       'Aplastic anemia, unspecified',
       'Acquired hemolytic anemia, unspecified',
       'Iron deficiency anemia, unspecified', 'Folate deficiency anemia',
       'Iron deficiency anemia', 'Idiopathic aplastic anemia',
       'Vitamin B12 deficiency anemia',
       'Refractory anemia with excess of blasts, unspecified', 'Anemia',
       'Iron deficiency Anemia', 'Folate deficiency Anemia'], dtype=object)

In [19]:
dataset.DESCRIPTION = dataset.DESCRIPTION.astype(str) 
dataset.DESCRIPTION = dataset.DESCRIPTION.map(lambda x: x.replace(', unspecified', ''))
dataset.DESCRIPTION.unique()

array(['Anemia', 'Anemia in other chronic diseases classified elsewhere',
       'Aplastic anemia', 'Acquired hemolytic anemia',
       'Iron deficiency anemia', 'Folate deficiency anemia',
       'Idiopathic aplastic anemia', 'Vitamin B12 deficiency anemia',
       'Refractory anemia with excess of blasts',
       'Iron deficiency Anemia', 'Folate deficiency Anemia'], dtype=object)

In [20]:
dataset

            REG_NO   TEST_NAME  RESULT TEST_FLAG_NAME    REF_RANGE DESCRIPTION
0            40161  Hemoglobin    11.7            Low  14.0 - 17.0      Anemia
1            40161         MCV    71.4         Normal  70.0 - 85.0      Anemia
2            40161        MCHC    33.5         Normal  32.0 - 36.0      Anemia
3            40161         MCH    23.9         Normal  23.0 - 31.0      Anemia
4            10007  Hemoglobin    13.5         Normal  12.0 - 16.0      Anemia
...            ...         ...     ...            ...          ...         ...
44495  20203101107         MCV   108.2           High  80.0 - 95.0      Anemia
44500  20203101139  Hemoglobin    13.1            Low  13.5 - 17.5      Anemia
44501  20203101139         MCH    18.9            Low  27.0 - 31.0      Anemia
44502  20203101139        MCHC    30.0            Low  32.0 - 36.0      Anemia
44503  20203101139         MCV    85.0         Normal  80.0 - 95.0      Anemia

[23640 rows x 6 columns]

In [21]:
dataset = dataset.reset_index()
dataset = dataset.drop(dataset.columns[0], axis=1)

In [22]:
dt = dataset.pivot(index='REG_NO', columns='TEST_NAME', values='TEST_FLAG_NAME')
dd = dataset.pivot(index='REG_NO', columns='TEST_NAME', values='DESCRIPTION')

In [23]:
#dd['comb'] = dd['Hemoglobin'].astype(str)+";"+dd['MCH'].astype(str)+";"+dd['MCHC'].astype(str)+";"+dd['MCV'].astype(str)+";"+dd['RDW-CV'].astype(str)+";"
dd['comb'] = dd['Hemoglobin'].astype(str)+";"+dd['MCH'].astype(str)+";"+dd['MCHC'].astype(str)+";"+dd['MCV'].astype(str)+";"
cat = dd.comb.unique()
cat

array(['Anemia;Anemia;Anemia;Anemia;',
       'Iron deficiency anemia;Iron deficiency anemia;Iron deficiency anemia;Iron deficiency anemia;',
       'Anemia in other chronic diseases classified elsewhere;Anemia in other chronic diseases classified elsewhere;Anemia in other chronic diseases classified elsewhere;Anemia in other chronic diseases classified elsewhere;',
       'Folate deficiency anemia;Folate deficiency anemia;Folate deficiency anemia;Folate deficiency anemia;',
       'Aplastic anemia;Aplastic anemia;Aplastic anemia;Aplastic anemia;',
       'Acquired hemolytic anemia;Acquired hemolytic anemia;Acquired hemolytic anemia;Acquired hemolytic anemia;',
       'Idiopathic aplastic anemia;Idiopathic aplastic anemia;Idiopathic aplastic anemia;Idiopathic aplastic anemia;',
       'Vitamin B12 deficiency anemia;Vitamin B12 deficiency anemia;Vitamin B12 deficiency anemia;Vitamin B12 deficiency anemia;',
       'Refractory anemia with excess of blasts;Refractory anemia with excess of blasts;Refractory anemia with excess of blasts;Refractory anemia with excess of blasts;',
       'Iron deficiency Anemia;Iron deficiency Anemia;Iron deficiency Anemia;Iron deficiency Anemia;',
       'Folate deficiency Anemia;Folate deficiency Anemia;Folate deficiency Anemia;Folate deficiency Anemia;'],
      dtype=object)

In [24]:
cat[10]

'Folate deficiency Anemia;Folate deficiency Anemia;Folate deficiency Anemia;Folate deficiency Anemia;'

In [25]:
dd.loc[dd.comb == cat[0],'comb'] = 'Anemia'
dd.loc[dd.comb == cat[1],'comb'] = 'Iron deficiency anemia'
dd.loc[dd.comb == cat[2],'comb'] = 'Anemia in other chronic diseases classified elsewhere'
dd.loc[dd.comb == cat[3],'comb'] = 'Folate deficiency anemia'
dd.loc[dd.comb == cat[4],'comb'] = 'Aplastic anemia'
dd.loc[dd.comb == cat[5],'comb'] = 'Acquired hemolytic anemia'
dd.loc[dd.comb == cat[6],'comb'] = 'Idiopathic aplastic anemia'
dd.loc[dd.comb == cat[7],'comb'] = 'Vitamin B12 deficiency anemia'
dd.loc[dd.comb == cat[8],'comb'] = 'Refractory anemia with excess of blasts'
dd.loc[dd.comb == cat[9],'comb'] = 'Iron deficiency Anemia'
dd.loc[dd.comb == cat[10],'comb'] = 'Folate deficiency anemia'

In [26]:
dt['DESCRIPTIONS'] = dd['comb']
dt

TEST_NAME   Hemoglobin     MCH    MCHC     MCV DESCRIPTIONS
REG_NO
13                 Low    High     Low    High       Anemia
14                 Low    High  Normal    High       Anemia
18                 Low  Normal     Low    High       Anemia
69                 Low     Low    High     Low       Anemia
134                Low  Normal  Normal  Normal       Anemia
...                ...     ...     ...     ...          ...
20203101088        Low     Low  Normal    High       Anemia
20203101090        Low     Low  Normal    High       Anemia
20203101100        Low     Low  Normal     Low       Anemia
20203101107        Low     Low     Low    High       Anemia
20203101139        Low     Low     Low  Normal       Anemia

[5910 rows x 5 columns]

In [27]:
# dt.loc[(dt.DESCRIPTIONS == 'Anemia') & (dt['RDW-CV'] == 'High') & (dt.MCV == 'Low') & (dt.MCH == 'Low') & (dt.MCHC == 'Normal'),'DESCRIPTIONS'] = \
#     'Iron deficiency anemia'
# dt.loc[(dt.DESCRIPTIONS == 'Anemia') & (dt['RDW-CV'] == 'High') & (dt.MCV == 'High') & (dt.MCH == 'Normal') & (dt.MCHC == 'Normal'),'DESCRIPTIONS'] = \
#     'Folate deficiency anemia'
# dt.loc[(dt.DESCRIPTIONS == 'Anemia') & (dt.MCV == 'Low') & (dt.MCH == 'Low') & (dt.MCHC == 'Normal'),'DESCRIPTIONS'] = \
#     'Iron deficiency anemia'
# dt.loc[(dt.DESCRIPTIONS == 'Anemia') & (dt.MCV == 'High') & (dt.MCH == 'Normal') & (dt.MCHC == 'Normal'),'DESCRIPTIONS'] = \
#     'Folate deficiency anemia'
#
#dt.loc[(dt.DESCRIPTIONS == 'Anemia') & (dt['RDW-CV'] == 'High') & (dt.MCV == 'Low') & (dt.MCH == 'Low'),'DESCRIPTIONS'] = \
#    'Iron deficiency anemia'
#dt.loc[(dt.DESCRIPTIONS == 'Anemia') & (dt['RDW-CV'] == 'High') & (dt.MCV == 'High') & (dt.MCH == 'Normal'),'DESCRIPTIONS'] = \
#    'Folate deficiency anemia'
dt.loc[(dt.DESCRIPTIONS == 'Anemia') & (dt.MCV == 'Low') & (dt.MCH == 'Low') & (dt.MCHC != 'High') ,'DESCRIPTIONS'] = \
    'Iron deficiency anemia'
dt.loc[(dt.DESCRIPTIONS == 'Anemia') & (dt.MCV == 'High') & (dt.MCH != 'Low') & (dt.MCHC != 'Low'),'DESCRIPTIONS'] = \
    'Folate deficiency anemia'
dt.loc[(dt.DESCRIPTIONS == 'Vitamin B12 deficiency anemia'),'DESCRIPTIONS'] = \
    'Folate deficiency anemia'

In [28]:
dt['DESCRIPTIONS'].value_counts(normalize=True)

Anemia                                                   0.824704
Iron deficiency anemia                                   0.104907
Folate deficiency anemia                                 0.065482
Iron deficiency Anemia                                   0.003723
Aplastic anemia                                          0.000508
Anemia in other chronic diseases classified elsewhere    0.000169
Idiopathic aplastic anemia                               0.000169
Refractory anemia with excess of blasts                  0.000169
Acquired hemolytic anemia                                0.000169
Name: DESCRIPTIONS, dtype: float64

In [29]:
dt
dt[dt['DESCRIPTIONS'].isin(['Iron deficiency anemia','Folate deficiency anemia'])]

TEST_NAME   Hemoglobin     MCH    MCHC   MCV              DESCRIPTIONS
REG_NO
14                 Low    High  Normal  High  Folate deficiency anemia
10089              Low    High  Normal  High  Folate deficiency anemia
10123              Low  Normal  Normal  High  Folate deficiency anemia
10130              Low    High  Normal  High  Folate deficiency anemia
20003              Low    High  Normal  High  Folate deficiency anemia
...                ...     ...     ...   ...                       ...
20202701013        Low     Low     Low   Low    Iron deficiency anemia
20202702159        Low  Normal  Normal  High  Folate deficiency anemia
20202801086        Low  Normal  Normal  High  Folate deficiency anemia
20202901168        Low    High  Normal  High  Folate deficiency anemia
20203101100        Low     Low  Normal   Low    Iron deficiency anemia

[1007 rows x 5 columns]

In [30]:
dfm = dataset.pivot(index='REG_NO', columns='TEST_NAME', values='RESULT')
dfm['DESCRIPTIONS'] = dt['DESCRIPTIONS']
dfm = dfm[dfm['DESCRIPTIONS'].isin(['Iron deficiency anemia','Folate deficiency anemia'])]
dfm

TEST_NAME    Hemoglobin   MCH  MCHC    MCV              DESCRIPTIONS
REG_NO
14                  8.4  31.6  32.9   95.9  Folate deficiency anemia
10089               8.8  31.3  32.8   95.4  Folate deficiency anemia
10123              10.0  29.7  32.1   92.6  Folate deficiency anemia
10130              10.2  31.3  32.1   97.5  Folate deficiency anemia
20003               7.9  32.0  33.1   96.8  Folate deficiency anemia
...                 ...   ...   ...    ...                       ...
20202701013        13.3  16.3  30.3   81.5    Iron deficiency anemia
20202702159        12.1  30.6  33.1   93.0  Folate deficiency anemia
20202801086         7.6  30.6  33.5   95.2  Folate deficiency anemia
20202901168        10.8  32.7  34.8  108.2  Folate deficiency anemia
20203101100        13.2  26.6  34.1   80.0    Iron deficiency anemia

[1007 rows x 5 columns]

In [31]:
final = dt.copy()
final = final[final['DESCRIPTIONS'].isin(['Iron deficiency anemia','Folate deficiency anemia'])]
final = final.fillna(0)
final

TEST_NAME   Hemoglobin     MCH    MCHC   MCV              DESCRIPTIONS
REG_NO
14                 Low    High  Normal  High  Folate deficiency anemia
10089              Low    High  Normal  High  Folate deficiency anemia
10123              Low  Normal  Normal  High  Folate deficiency anemia
10130              Low    High  Normal  High  Folate deficiency anemia
20003              Low    High  Normal  High  Folate deficiency anemia
...                ...     ...     ...   ...                       ...
20202701013        Low     Low     Low   Low    Iron deficiency anemia
20202702159        Low  Normal  Normal  High  Folate deficiency anemia
20202801086        Low  Normal  Normal  High  Folate deficiency anemia
20202901168        Low    High  Normal  High  Folate deficiency anemia
20203101100        Low     Low  Normal   Low    Iron deficiency anemia

[1007 rows x 5 columns]

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTE

In [33]:
le = LabelEncoder()
le.fit(final['DESCRIPTIONS'])
le.classes_

array(['Folate deficiency anemia', 'Iron deficiency anemia'], dtype=object)

In [34]:
final['DESCRIPTIONS'] = le.transform(final['DESCRIPTIONS'])
final

TEST_NAME   Hemoglobin     MCH    MCHC   MCV  DESCRIPTIONS
REG_NO
14                 Low    High  Normal  High             0
10089              Low    High  Normal  High             0
10123              Low  Normal  Normal  High             0
10130              Low    High  Normal  High             0
20003              Low    High  Normal  High             0
...                ...     ...     ...   ...           ...
20202701013        Low     Low     Low   Low             1
20202702159        Low  Normal  Normal  High             0
20202801086        Low  Normal  Normal  High             0
20202901168        Low    High  Normal  High             0
20203101100        Low     Low  Normal   Low             1

[1007 rows x 5 columns]

In [35]:
final.loc[(final.Hemoglobin == 'Low'),'Hemoglobin'] = \
    'A'
final.loc[(final.Hemoglobin == 'Normal'),'Hemoglobin'] = \
    'B'
final.loc[(final.Hemoglobin == 'High'),'Hemoglobin'] = \
    'C'
final.loc[(final.MCH == 'Low'),'MCH'] = \
    'D'
final.loc[(final.MCH == 'Normal'),'MCH'] = \
    'E'
final.loc[(final.MCH == 'High'),'MCH'] = \
    'F'
final.loc[(final.MCHC == 'Low'),'MCHC'] = \
    'G'
final.loc[(final.MCHC == 'Normal'),'MCHC'] = \
    'H'
final.loc[(final.MCHC == 'High'),'MCHC'] = \
    'I'
final.loc[(final.MCV == 'Low'),'MCV'] = \
    'J'
final.loc[(final.MCV == 'Normal'),'MCV'] = \
    'K'
final.loc[(final.MCV == 'High'),'MCV'] = \
    'L'

final

TEST_NAME   Hemoglobin MCH MCHC MCV  DESCRIPTIONS
REG_NO
14                   A   F    H   L             0
10089                A   F    H   L             0
10123                A   E    H   L             0
10130                A   F    H   L             0
20003                A   F    H   L             0
...                ...  ..  ...  ..           ...
20202701013          A   D    G   J             1
20202702159          A   E    H   L             0
20202801086          A   E    H   L             0
20202901168          A   F    H   L             0
20203101100          A   D    H   J             1

[1007 rows x 5 columns]

In [36]:
features = final.iloc[:,0:5]
target = final.iloc[:,5:0]

In [37]:
features

TEST_NAME   Hemoglobin MCH MCHC MCV  DESCRIPTIONS
REG_NO
14                   A   F    H   L             0
10089                A   F    H   L             0
10123                A   E    H   L             0
10130                A   F    H   L             0
20003                A   F    H   L             0
...                ...  ..  ...  ..           ...
20202701013          A   D    G   J             1
20202702159          A   E    H   L             0
20202801086          A   E    H   L             0
20202901168          A   F    H   L             0
20203101100          A   D    H   J             1

[1007 rows x 5 columns]

In [38]:
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [39]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(805, 5)
(202, 5)
(805, 0)
(202, 0)

In [40]:
import numpy as np
print(np.mean(x_train))
print(np.mean(x_test))
print(np.mean(y_train))
print(np.mean(y_test))

TEST_NAME
DESCRIPTIONS    0.631056
dtype: float64
TEST_NAME
DESCRIPTIONS    0.554455
dtype: float64
Series([], dtype: float64)
Series([], dtype: float64)

In [41]:
print(x_test)

TEST_NAME   Hemoglobin MCH MCHC MCV  DESCRIPTIONS
REG_NO
20192709029          A   E    H   L             0
20182208141          A   E    H   L             0
20182612197          A   D    G   J             1
20180703049          A   F    H   L             0
2002070071           A   D    G   J             1
...                ...  ..  ...  ..           ...
20190810035          A   E    H   L             0
2001030039           A   D    H   J             1
1908050085           A   D    G   J             1
2001230092           A   D    H   J             1
1903220076           A   D    H   J             1

[202 rows x 5 columns]

In [42]:
x_train.to_csv("train_path.csv", index=False)
x_test.to_csv("test_path.csv", index=False)

In [64]:
class treeNode:
    def __init__(self, nameValue, numOccur, parentNode):
        self.name = nameValue
        self.count = numOccur
        self.nodeLink = None
        self.parent = parentNode
        self.children = {}

    def inc(self, numOccur):
        self.count += numOccur

    def disp(self, ind=1):
        print ('  '*ind, self.name, ' ', self.count)
        for child in self.children.values():
            child.disp(ind+1)

In [86]:
def updateHeader(nodeToTest, targetNode):   #this version does not use recursion
    while (nodeToTest.nodeLink != None):    #Do not use recursion to traverse a linked list!
        nodeToTest = nodeToTest.nodeLink
    nodeToTest.nodeLink = targetNode

In [87]:
def updateTree(items, inTree, headerTable, count):
    if items[0] in inTree.children:#check if orderedItems[0] in retTree.children
        inTree.children[items[0]].inc(count) #incrament count
    else:   #add items[0] to inTree.children
        inTree.children[items[0]] = treeNode(items[0], count, inTree)
        if headerTable[items[0]][1] == None: #update header table
            headerTable[items[0]][1] = inTree.children[items[0]]
        else:
            updateHeader(headerTable[items[0]][1], inTree.children[items[0]])
        
    if len(items) > 1:#call updateTree() with remaining ordered items
        updateTree(items[1::], inTree.children[items[0]], headerTable, count)

In [94]:
def createTree(dataSet, minSup=1): #create FP-tree from dataset but don't mine
    headerTable = {}
    #go over dataSet twice
    for trans in dataSet:#first pass counts frequency of occurance
        for item in trans:
            headerTable[item] = headerTable.get(item, 0) + dataSet[trans]
    for k in headerTable.keys():  #remove items not meeting minSup
        if headerTable[k] < minSup: 
            del(headerTable[k])
    freqItemSet = set(headerTable.keys())
    #print 'freqItemSet: ',freqItemSet
    if len(freqItemSet) == 0: return None, None  #if no items meet min support -->get out
    for k in headerTable:
        headerTable[k] = [headerTable[k], None] #reformat headerTable to use Node link 
    #print 'headerTable: ',headerTable
    retTree = treeNode('Null Set', 1, None) #create tree
    for tranSet, count in dataSet.items():  #go through dataset 2nd time
        localD = {}
        for item in tranSet:  #put transaction items in order
            if item in freqItemSet:
                localD[item] = headerTable[item][0]
        if len(localD) > 0:
            orderedItems = [v[0] for v in sorted(localD.items(), key=lambda p: p[1], reverse=True)]
            updateTree(orderedItems, retTree, headerTable, count)#populate tree with ordered freq itemset
    return retTree, headerTable #return tree and header table

In [95]:
def ascendTree(leafNode, prefixPath): #ascends from leaf node to root
    if leafNode.parent != None:
        prefixPath.append(leafNode.name)
        ascendTree(leafNode.parent, prefixPath)

In [96]:
def findPrefixPath(basePat, treeNode): #treeNode comes from header table
    condPats = {}
    while treeNode != None:
        prefixPath = []
        ascendTree(treeNode, prefixPath)
        if len(prefixPath) > 1: 
            condPats[frozenset(prefixPath[1:])] = treeNode.count
        treeNode = treeNode.nodeLink
    return condPats

In [97]:
def mineTree(inTree, headerTable, minSup, preFix, freqItemList):
    bigL = [v[0] for v in sorted(headerTable.items(), key=lambda p: p[1])]#(sort header table)
    for basePat in bigL:  #start from bottom of header table
        newFreqSet = preFix.copy()
        newFreqSet.add(basePat)
        #print 'finalFrequent Item: ',newFreqSet    #append to set
        freqItemList.append(newFreqSet)
        condPattBases = findPrefixPath(basePat, headerTable[basePat][1])
        #print 'condPattBases :',basePat, condPattBases
        #2. construct cond FP-tree from cond. pattern base
        myCondTree, myHead = createTree(condPattBases, minSup)
        #print 'head from conditional tree: ', myHead
        if myHead != None: #3. mine cond. FP-tree
            #print 'conditional tree for: ',newFreqSet
            #myCondTree.disp(1)            
            mineTree(myCondTree, myHead, minSup, newFreqSet, freqItemList)

In [98]:
def loadSimpDat():
    simpDat = [['r', 'z', 'h', 'j', 'p'],
               ['z', 'y', 'x', 'w', 'v', 'u', 't', 's'],
               ['z'],
               ['r', 'x', 'n', 'o', 's'],
               ['y', 'r', 'x', 'z', 'q', 't', 'p'],
               ['y', 'z', 'x', 'e', 'q', 's', 't', 'm']]
    return simpDat

In [99]:
def createInitSet(dataSet):
    retDict = {}
    for trans in dataSet:
        retDict[frozenset(trans)] = 1
    return retDict

In [100]:
rootNode = treeNode('pyramid',9,None)
rootNode.children['eye'] = treeNode('eye',13,None)

rootNode.disp()

   pyramid   9
     eye   13

In [101]:
simpDat = loadSimpDat()
simpDat

[['r', 'z', 'h', 'j', 'p'],
 ['z', 'y', 'x', 'w', 'v', 'u', 't', 's'],
 ['z'],
 ['r', 'x', 'n', 'o', 's'],
 ['y', 'r', 'x', 'z', 'q', 't', 'p'],
 ['y', 'z', 'x', 'e', 'q', 's', 't', 'm']]

In [103]:
initSet = createInitSet(simpDat)
initSet

{frozenset({'h', 'j', 'p', 'r', 'z'}): 1,
 frozenset({'s', 't', 'u', 'v', 'w', 'x', 'y', 'z'}): 1,
 frozenset({'z'}): 1,
 frozenset({'n', 'o', 'r', 's', 'x'}): 1,
 frozenset({'p', 'q', 'r', 't', 'x', 'y', 'z'}): 1,
 frozenset({'e', 'm', 'q', 's', 't', 'x', 'y', 'z'}): 1}

In [111]:
myFPtree,myHeaderTab = createTree(initSet, minSup=3)
myFPtree.disp()

RuntimeError: dictionary changed size during iteration